*,
*:after,
*:before{
  box-sizing: border-box;
}
.container{
  margin: 0 auto;
}
body{
  background-color: #ffffff;
}
.navbar-light .navbar-brand{
  color: #ffffff;
  font-family: "Tenoture";
  font-weight: normal;
  font-size: 25px;
}
.navbar-light .navbar-brand:hover{
  color: #ffffff;
  font-family: "Tenoture";
  font-weight: normal;
  font-size: 25px;
}
.navbar-light .navbar-nav .nav-link{
  color: #ffffff;
  font-family: "AA Bebas Neue";
  font-weight: normal;
  font-size: 20px;
}
.navbar-light .navbar-nav .nav-link:hover{
  color: #ffffff;
  font-family: "AA Bebas Neue";
  font-weight: normal;
  font-size: 20px;
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke: #ffffff;
  stroke-width:5.5;
  stroke-linecap:round;
}
.info h1{
  color: #000000;
  font-family: "AA Bebas Neue";
  font-weight: normal;
  font-size: 50px;
}
.info h2{
  color: #000000;
  font-family: "AA Bebas Neue";
  font-weight: normal;
  font-size: 48px;
}
.info img{
  -webkit-filter: invert(100%);
  filter: invert(100%);
}
.gradient-border{
  background: #ffffff;
}
.skill h3{
  color: #000000;
}
.skill h4{
  color: #000000;
}
.line_skill{
  background: #000000;
}
.line_skill_last{
  background: #000000;
}
.interest_skill{
  color: #000000;
}
.interest_skill_end{
  color: #000000;
}
.my_works_title{
  display: flex;
  justify-content: center;
  color: #000000;
  font-family: "AA Bebas Neue";
  font-weight: normal;
  font-size: 50px;
  margin-top: 100px;
  }
.slick-dots li.slick-active button:before{
  color: #000000;
}
.slick-dots li button::before {
  color: #000000;
}
.slick-prev:before, .slick-next:before {
  color: black;
}
